[Unit]
Description=Pibot Boot Oled Screen
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=toy
ExecStart=/home/toy/code/pibot/node_modules/.bin/ts-node oled-boot-screen.ts

[Install]
WantedBy=multi-user.target